<i18n lang="yaml">
en:
  first_lang_header: 'Which is your first language'
  second_lang_header: 'Which is language you study'
ru:
  first_lang_header: 'Язык на котором Вы разговариваете'
  second_lang_header: 'Язык, который Вы учите'
</i18n>
<template>
  <div>
    <BDropdown v-bind="$attrs">
      <template #button-content>
        {{ selectedLang }}
      </template>
      <BDropdownHeader>{{ secondLang ? $t('second_lang_header') : $t('first_lang_header') }}</BDropdownHeader>
      <BDropdownItem
        v-for="(item, idx) in items"
        :key="idx"
        @click="$emit('update:selectedLang', item.text)"
        :disabled="item.disable"
        :active="item.active">
        {{ item.fullText }}
      </BDropdownItem>
    </BDropdown>
  </div>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    secondLang: {
      type: Boolean,
      default: false,
    },
    items: {
      type: Array,
      require: true,
    },
    selectedLang: {
      type: String,
    },
  },
}
</script>
