<template>
	<div class="popup">
		<img src="/subscribe.png" alt="Subscribe" />
	</div>
</template>

<script>
export default {
	
}
</script>

<style scoped>
.popup {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: #282828;
	color: #ffffff;
	text-align: center;
}
.popup__title {
	font-size: 32px;
}
.popup img {
	width: 100%;
}
</style>
