<template>
  <div class="video__wrapper">
    <header>
      <LangSwitcher
        :items="firstLangs"
        :selectedLang.sync="firstLangSelected"
      />
      <LangSwitcher
        :secondLang="true"
        :items="secondLangs"
        right
        :selectedLang.sync="secondLangSelected" />
    </header>
    <video
      ref="video"
      v-if="videos.length"
      :src="currentVideo.src"
      :width="width"
      :height="height"
      controls
      @ended="endHandler" />
    <div v-if="isShowControlPanel" class="control-panel" :key="fakeKey">
      <div class="question">{{ currentVideo.question }}</div>
      <div v-for="(answer, idx) in currentVideo.answers"
        :key="idx"
        class="answer"
        :class="answer.animationClass"
        @click="answerSelectHandler(answer)">
        {{ answer.text }}
      </div>
    </div>
    <SubscribeWindow v-if="isShowSubscribe" />
  </div>
</template>

<script>
import LangSwitcher from './LangSwitcher.vue'
import SubscribeWindow from './SubscribeWindow.vue'

export default {
  components: {
    LangSwitcher,
    SubscribeWindow,
  },
  data() {
    return {
      videos: [],
      width: 360,
      height: 640,
      step: 0,
      fakeKey: 0,
      lang: 'ru',
      isShowControlPanel: false,
      isShowSubscribe: false,
      firstLangSelected: 'ru',
      secondLangSelected: 'ru',
      firstLangs: [
        {
          text: 'ru',
          fullText: 'Русский',
        },
        {
          text: 'en',
          fullText: 'English',
          disable: true,
        },
        {
          text: 'es',
          fullText: 'Epañol',
          disable: true,
        },
        {
          text: 'fr',
          fullText: 'French',
          disable: true,
        },
      ],
      secondLangs: [
        {
          text: 'ru',
          fullText: 'Русский',
        },
        {
          text: 'en',
          fullText: 'English',
          disable: true,
        },
        {
          text: 'es',
          fullText: 'Español',
          disable: true,
        },
        {
          text: 'fr',
          fullText: 'French',
        },
        {
          text: 'jp',
          fullText: 'Japanesse',
          disable: true,
        },
      ]
    }
  },
  created() {
    this.height = window.innerHeight
    this.width = window.innerHeight / 100 * 56.25
  },
  async mounted() {
    this.loadVideos('ru-ru')
  },
  computed: {
    currentVideo() {
      return this.videos[this.step]
    }
  },
  watch: {
    secondLangSelected(val) {
      console.log(val)
      this.loadVideos(`${val}-${this.firstLangSelected}`)
    }
  },
  methods: {
    async loadVideos(code) {
      // const data = await import('./fr-ru')
      const data = await import(`./${code}`)
      this.videos = data.default
      this.step = 0
      this.isShowControlPanel = false
    },
    play() {
      this.isShowControlPanel = false
      this.$refs.video.play()
    },
    endHandler() {
      this.isShowControlPanel = true
    },
    async answerSelectHandler(answer) {
      const activeAnswer = this.currentVideo.answers.find(i => i === answer)
      if (answer.is_right) {
        activeAnswer.animationClass = 'answer_correct'
        this.fakeKey++;
        console.log('good', activeAnswer)
        await new Promise(resolve => {
          window.setTimeout(() => {
            resolve()
          }, 1000)
        })
        // fetch('/users?token=dfkajdsfsajdf?video_id=1&correct=true')
        // отправляем запрос на бэк, что пользователь ответил правильно
      } else {
        activeAnswer.animationClass = 'answer_wrong'
        this.fakeKey++;
        await new Promise(resolve => {
          window.setTimeout(() => {
            resolve()
          }, 1000)
        })
        // отправляем запрос на бэк, что пользователь ошибся
        // проигрываем видео ещё раз
      }
      // в любом случае переходим к следующему видео
      this.isShowControlPanel = false
      if (this.step == 3) {
        this.isShowSubscribe = true
      } else {
        this.step++
        const interval = window.setInterval(() => {
          if (this.$refs.video.readyState === 4) {
            window.clearInterval(interval)
            this.$refs.video.play()
          }
        }, 500)
      }
    },
  }
}
</script>

<style scoped>
.video__wrapper {
  position: relative;
  /* width: 360px; */
  /* height: 640px; */
  width: 56.25vh;
  height: 100vh;
  margin: 0 auto;
}
header {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: rgba(40, 40, 40, 0.7);
  padding: 15px 10px;
  z-index: 1;
}
video {
  position: aboslute;
  top: 0;
  left: 0;
}
.flag {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.flag_ru {
  background-image: url(/flag_ru.png);
}
.flag_en {
  background-image: url(/flag_es.png);
}
.control-panel {
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: calc(100% - 80px);
  bottom: 0;
  left: 0;
  padding: 10px;
  padding-top: 40px;
  background-color: rgba(40, 40, 40, 0.7);
}
.question {
  color: white;
  font-weight: normal;
  font-size: 26px;
  margin: 15px auto 30px;
}
.answer {
  width: 100%;
  height: 60px;
  color: white;
  background-color: #8860D0;
  border-radius: 12px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}
.answer:hover {
  cursor: pointer;
  background-color: #A89AC0;
}
.answer_correct,
.answer_correct:hover {
  position: relative;
  background-color: lightgreen;
}
/* .answer_correct::after,
.answer_correct:hover::after,
.answer_correct:hover::before,
.answer_correct:hover::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightgreen;
} */
.answer_correct::after,
.answer_correct:hover::after {
  top: 0;
  animation: moveInBottom 0.3s ease-in;
}
.answer_correct::before,
.answer_correct:hover::before {
  bottom: 0;
  animation: moveInTop 0.3s ease-in;
}
.answer_wrong,
.answer_wrong:hover {
  background-color: #990e0e;
}
.answer_wrong {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
</style>
