<template>
  <div id="app">
    <Videos />
  </div>
</template>

<script>
import Videos from './components/Videos.vue'

export default {
  name: 'App',
  components: {
    Videos,
  }
}
</script>

<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
</style>
